.BurgerIngridents {
    overflow-y: auto;
    width: 300px;
    height: 300px;
    margin: 6rem auto 1rem auto;
    padding: 10%;
}

.BuilderControls {
    padding: 10px;
}

.TotalPrice {
    color: red;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.OrderNow {
    margin-top: 2rem;
    border: 0;
    color: white;
    background: rgb(241, 1, 1);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.OrderNowDisable {
    opacity: 0.3;
    pointer-events: none;
}
.OrderNowActive {
    opacity: 1;
    cursor: pointer;
}

@media (min-width: 500px) {
    .BurgerIngridents {
        width: 500px;
        height: 400px;
        margin: 3rem auto 1rem auto;
    }

    .BuilderControlsContent {
        width: 60%;
        margin: auto;
    }
}
