.BurgerIngridents {
    overflow: scroll;
    width: 300px;
    height: 300px;
    margin: 6rem auto 1rem auto;
    padding: 10%;
}

.BuilderControls {
    margin: auto;
    padding: 10px;
}

.TotalPrice {
    color: red;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.OrderNow {
    border: 0;
    color: white;
    background: rgb(241, 1, 1);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.OrderNowDisable {
    opacity: 0.5;
    pointer-events: none;
}
.OrderNowActive {
    opacity: 1;
    cursor: pointer;
}