.Burger {
    background-color: rgb(58, 99, 211);
    margin: 20px;
    padding: 20px;
}

.BurgerIngridents {
    /* background-color: pink; */
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 10%;
}

.BuilderControls {
    background-color: rgb(131, 109, 113);
    margin: 20px;
    padding: 10px;
}