.toolbar {
    position: fixed;
    padding: 1.25rem;
    background-color: yellow;
    height: 3.125rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 90;
}