.Modal {
    padding: 5%;
    position: fixed ;
    z-index: 200;
    width: 80%;
    background-color: #f9d402;
    top: 30%;
    left: 5%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 1rem;
}

.Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-100vh);
}

.Modal ul {
    list-style: none;
    width: 50%;
    margin:  1rem auto 0rem auto;
    padding: 1rem;
    align-items: center;
}


    @media(min-width: 500px) {
        .Modal {
            width: 30%;
            left: 30%;
            top: 20%;
            font-size: 1.3rem;
        }

        .Modal ul {
            list-style: none;
            width: 50%;
            margin:  1rem auto 0rem auto;
            padding: 1rem;
        }
        
    }

