.CheckoutSummary {
    width: 90%;
    height: 300px;
    margin: 10rem auto 3rem auto;
    overflow-y: auto;
}

@media (min-width: 500px) {
    .CheckoutSummary {
        width: 60%;
        height: 500px;
    }
}
